html {
	padding: 0;
	margin: 0;
}

body {
	padding: 4em;
	margin: 0;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.tip-text span {
	font-weight: lighter;
	font-size: .9em;
	width: 5.2em;
	margin-bottom: .3em;
	display: inline-block;
}

.node.down text {
	text-decoration: line-through;
}

.color-box {
	width: 10px;
    height: 10px;
	display: inline-block;
}

.queues .jobs {
	display: none;
}
.queues .cpus {
	display: inline;
}
.queues.show_jobs .jobs {
	display: inline;
}
.queues.show_jobs .cpus {
	display: none;
}

.toggle {
	font-size: .8em;
	float: right;
	color: black;
}

.alerts {
	position: fixed;
	display: none;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 80%;
	line-height: 1;
	padding: 1em;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 5px;
	max-height: 80%;
	overflow: scroll;
}

.alerts table {
	width: 100%;
}

.alerts tr {
	padding: .4em;
}

.alerts td {
	padding: .4em;
	font-size: 1.05em;
	min-width: 9em;
}

.bar a {
	padding: 5px;
	color: black;
	text-decoration: none;
}

.bar a:hover {
	text-decoration: underline;
}

.show {
	display: block;
}

.hit rect {
	fill: yellow;
}

.hit rect:hover {
	fill-opacity: .5;
}

#search {
	font-size: .9em;
}
